<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <div class="container">
    <a class="navbar-brand" href="/">FlpWeb</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/" class="nav-link">Inicio</a>
        </li>
         {% if user.is_authenticated %}
        <li class="nav-item">
          <!-- <a href="{% url 'tasks_completed' }" class="nav-link">complted tasks</a> -->
        </li>
        <li class="nav-item">
          <a href="{% url 'simulations' %}" class="nav-link">Historial de simulaciones</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'nueva_sim' %}" class="nav-link">Nueva simulaci&oacute;n</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Salir</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="/singin" class="nav-link">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a href="/signup" class="nav-link">Registrarse</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>